
div {
	background-color:#293757;
	width:20%;
	text-align:center;
	margin: 0.5% auto;
	padding:0.5%;
  
}
h1 {
	text-align:center;
}
div  a{
	color: #ffffff;
	text-decoration: none;
}

.radio-group {
            display: flex;
            justify-content: space-between;
			background-color:#ffffff;
			width:95%;
        }
      
        input[type="radio"] {
            display: none;
        }
        input[type="radio"] + label {
			width:20%;
     background-color:#293757;
	font-size:200%;
	color:#ffffff;
	width:25%;
	text-align:center;
	margin: 0.5% auto;
	padding:0.5%;
        }
      
        input[type="radio"]:checked + label {
            background: #9babd0;
        }
	.arrow-button {
	position: absolute;
	right:0%;
	top:0%;
  font-size: 200%;
  padding: 1%;
  background-color:#293757;
  color: #ffffff;
	text-decoration: none;
}
table {
	background-color:;
	border-collapse: collapse;
}
td {
	color: #293757;
	font-size: 75%;
	padding:1%;
	transition: padding 0.5s ease, transform 0.5s ease;

}

td:nth-child(even) {
	background-color: #b6c2dd;
}
td:nth-child(2) {
	width:10%;
}
tr {
	transition: transform 0.3s ease;
}
td:hover {
	padding: 2%;
}
tr:hover {
	color: #293757;
	background-color: #9babd0;
	transform: scale(1.1);
}
