
.main div {
	background-color:#293757;
	width:20%;
	text-align:center;
	margin: 0.5% auto;
	padding:0.5%;
  
}
.main h1, h1.main, .lessons h1{
	text-align:center;
}
div  a{
	color: #ffffff;
	text-decoration: none;
}

.lessons div{
	background-color:#293757;
	width:20%;
	text-align:center;
	font-size:150%;
	padding:0.5%;
}
 div.disabled{
	background-color:#d8d8d8;
}


.categ {
            display: flex;
            justify-content: space-between;
			background-color:#ffffff;
			width:95%;
        }
      
   .categ     input[type="radio"] {
            display: none;
        }
    .categ    input[type="radio"] + label {
			width:20%;
     background-color:#293757;
	font-size:200%;
	color:#ffffff;
	width:25%;
	text-align:center;
	margin: 0.5% auto;
	padding:0.5%;
        }
      
    .categ    input[type="radio"]:checked + label {
            background: #9babd0;
        }
	.arrow-button {
	position: absolute;
	right:0%;
	top:0%;
  font-size: 200%;
  padding: 1%;
  background-color:#293757;
  color: #ffffff;
	text-decoration: none;
}
table.course {
	margin:3%;
	border-collapse: collapse;
}
table.course a{
	text-decoration: none;
	color: #293757;
}
table.course td {
	color: #293757;
	font-size: 75%;
	padding:1%;
	transition: padding 0.5s ease, transform 0.5s ease;
	box-sizing: border-box

}

table.course td:nth-child(even) {
	background-color: #b6c2dd;
}
table.course td:nth-child(2) {
	width:10%;
}
table.course tr {
	transition: transform 0.3s ease;
}
table.course td:hover {
	padding: 2%;
}
table.course tr:hover {
	color: #293757;
	background-color: #9babd0;
	transform: scale(1.1);
}


.reg {
  padding: 0.5%;
  background-color: #b6c2dd;
  box-sizing:border-box;
}

.reg input[type=text], .reg input[type=password], .reg input[type=email] {
  width: 95%;
  padding: 0.5%;
  margin: 1%;
  border: none;
  background-color: #e1effa;
}

.reg input[type=text]:focus, .reg input[type=password]:focus, .reg input[type=email]:focus {
   background-color: #d2e8fa;
}

.reg input[type=submit], .question button {
  background-color: #c8d2e8;
  color: #ffffff;
  padding: 1%;
  border: none;
  cursor: pointer;
  width: 100%;
}

.reg input[type=submit]:hover {
  border: 1px solid #ffffff;
}
.reg input[type=checkbox]{
  margin:2%;
}
.reg label {
	font-size:150%;
	padding:2%;
}

.correct  {
		background-color:#92db99;
}

.wr {
	background-color:#d58980;
}

.question	{
	box-sizing:border-box;
	background-color:#f6f6f6;
	margin:0.5%;
	padding:0.5%;
}
.question img {
	width:30%;
	height:50%;
	padding:0.5%;
	display: block;
    margin-left: auto;
    margin-right: auto;     
}
.question h3{
	background-color:#ececec;
	width:80%;
	text-align:center;
	margin: 0.5% auto;
	padding:0.5%;
}

.answ {
            display: flex;
        }
      
   .answ     input[type="radio"] {
            display: none;
        }
    .answ   input[type="radio"] + label {
	width:60%;
    background-color:#d8d8d8;
	font-size:100%;
	color:#293757;
	text-align:center;
	margin: 0.5% auto;
	padding:0.5%;
        }
      
     .answ    input[type="radio"]:checked + label {
            background-color: #9babd0;
        }
		
		